name: Test, build & push

on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  build-push:
    name: Build & push
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract version
        run: echo "::set-env name=APP_VERSION::$(jq -r '.version' package.json)"

      - name: Build image
        run: docker build -t rezoleo/github-project-automation:${APP_VERSION} .

      - name: Publish image
        if: github.ref == 'refs/heads/master'
        run: |
          docker login --username svcrezoleo --password ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push rezoleo/github-project-automation:${APP_VERSION}
